
@media screen and (min-width: 480px) {
  .sButton {
    display: inline-block;
    margin: 1em auto;
  }

  #left-menu {
    float: left;
  }
  #right-menu {
    float: right;
  }

  #bottomnav {
    height: 50px;
  }

  .wrapper {
    /*min-height: calc(100vh - 50px); /*sets to 100% of the viewport height*/*/
  }

  /*@media screen and (min-width: 769px) {

  }*/

}
